.boxcontainer{
  text-align: center;
  margin: auto;
  border: 40px solid rgba(165, 163, 199,0.5);
  border-top: 0px;

  color:black;
  background-color: white;
  padding-top: 20px;
}
td{
  border:1px solid #F1F2FB;
  text-align: center;
  width: 200px;
  height: 35px;
  padding:20px;

}
table{
  margin:auto;
border-spacing: 20px;
border-collapse: separate;

}
.content{
  text-align: left;
  margin: 0;
}
#cn {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 0;
}
.form-floating{
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.col{
  text-align: left;
  margin: auto;

}
.ione{
  width:200px;

}
.itwo{
  width:200px;

}
.uos{
  margin-top: 20px;
}

.r1{
  margin-left: -30px;
  margin-right: 20px;
  margin-top: -40px;
}
.r2{
  margin-left: -30px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.boxcontainer{
  margin-right: 350px;
  margin-left:350px;
  padding: 40px;
box-shadow: 5px 65px 0px 50px rgb(165, 163, 199);

}
#tbld{
  font-size: 25px;
}
body{
  background-color: #F1F2FB;
  padding: 40px;
}
.btn{
  width: 20rem;
  height: 75px;
  margin-top: 20px;
}
td:hover{
transform: translateY(-20px);
transition: all 0.5s ease-in-out;
box-shadow: 10px 12px 20px 20px #F1F2FB;
  border:1px solid #5578E1;
}
